#cart * { margin:0; padding:0; font-family:arial, tahoma, verdana, sans-serif; }
#cart, #cart input, #cart-tooltip { font-size:12px; }

#cart fieldset { border:0; }

#cart-error { text-align:center; padding:5px; }

#cart table { width:100%; border:0; background:#fff; border-collapse:collapse; }
#cart thead {  }
#cart-title {  }
#cart tbody {  }
#cart tfoot {  }
#cart tr {  }
#cart th { background:#fff }
#cart th, #cart td { padding:5px; border:0; border:solid 1px #ccc; vertical-align:middle; text-align:left; font-weight:normal; }
#cart #cart-empty { text-align:center; }

.cart-item-qty { width:25%; }
#cart .cart-item-name { width:50%; font-weight:bold; }
#cart .cart-item-price { width:25%; font-weight:bold; text-align:right; }
.cart-item-price span { display:block; }

.cart-remove { font-size:11px; font-weight:normal; }

#cart-subtotal { display:block; }
#cart-subtotal strong {  }

#cart-buttons input { padding:2px; margin:2px; }

#cart-checkout { float:right; padding:2px; }

#cart-paypal-checkout { display:block; width:14em; padding:10px; margin:20px auto; }

#cart-tooltip { display:none; position:absolute; padding:3px 7px 3px 25px; background:url(../images/checkmark.png) 3px center no-repeat #fdfdfd; border:1px solid #a6c9e2; z-index:9999; }
